In [37]:
import pymysql

In [38]:
connection = pymysql.connect( 'database-1.cbrnhoat32p7.us-east-1.rds.amazonaws.com', 'myuser', 'myPass05')
cursor = connection.cursor()
print(cursor)

<pymysql.cursors.Cursor object at 0x11f66fe50>

In [44]:
cursor.execute("select version()")

1

In [45]:
data = cursor.fetchone()

In [41]:
data

('8.0.28',)

In [46]:
sql = '''select database amzdb'''
cursor.execute(sql)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'amzdb' at line 1")

0

In [12]:
cursor.connection.commit()

In [47]:
sql = '''use amzdb'''
cursor.execute(sql)

0

In [14]:
sql = '''
create table toystable (
id int not null auto_increment,
Title text,
Price decimal,
primary key (id)
)
'''
cursor.execute(sql)

0

In [15]:
cursor.connection.commit()

In [48]:
sql = '''
show tables
'''
cursor.execute(sql)
cursor.fetchall()

(('toystable',),)

In [20]:
sql = '''
insert into toystable(Title, Price) values('%s', '%s')''' % ('toy1', 99.99)

cursor.execute(sql)
cursor.connection.commit()

/usr/local/lib/python3.9/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'Price' at row 1")
  result = self._query(query)

In [63]:
sql = '''select * from toystable'''
cursor.execute(sql)
cursor.fetchall()

((1, 'toy1', Decimal('100')),
 (2, '1', Decimal('0')),
 (3, '2', Decimal('0')),
 (4, '3', Decimal('0')),
 (5, '4', Decimal('0')),
 (6, '5', Decimal('0')),
 (7, '6', Decimal('0')),
 (8, '7', Decimal('0')),
 (9, '8', Decimal('0')),
 (10, '9', Decimal('0')),
 (11, '10', Decimal('0')),
 (12, '11', Decimal('0')),
 (13, '12', Decimal('0')),
 (14, '13', Decimal('0')),
 (15, '14', Decimal('0')),
 (16, '15', Decimal('0')),
 (17, '16', Decimal('0')),
 (18, '17', Decimal('0')),
 (19, '18', Decimal('0')),
 (20, '19', Decimal('0')),
 (21, '20', Decimal('0')),
 (22, '21', Decimal('0')),
 (23, '22', Decimal('0')),
 (24, '23', Decimal('0')),
 (25, '24', Decimal('0')),
 (26, '25', Decimal('0')),
 (27, '26', Decimal('0')),
 (28, '27', Decimal('0')),
 (29, '28', Decimal('0')),
 (30, '29', Decimal('0')),
 (31, '30', Decimal('0')))

In [50]:
import boto3
import pandas as pd
import s3fs

In [51]:

path1='s3://productscsv/toys_rating4.csv'
df_toys=pd.read_csv(path1)
df_toys.head()

,Title,Image,adeclarative,alinknormal_URL,asizebase,aoffscreen,Price,Price1,asizebase2,arow,Like,scouponunclipped__spancontains_class_acolorbase,arow3,acolorbase
0,NaN,NaN,Sponsored\n,NaN,NaN,Shop Fun Creative Gifts for Boys of All Ages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cats vs Pickles - Limited Edition Holiday 12pk...,https://m.media-amazon.com/images/I/51n8ENJFUW...,4.7 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,282,$54.99,54\n.,$59.99,NaN,NaN,NaN,NaN,Get it as soon as,"Sat, Apr 30"
2,Osmo - Super Studio Disney Frozen 2 - Ages 5-1...,https://m.media-amazon.com/images/I/91SJQup1fq...,4.7 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,"4,333",$29.99,29\n.,NaN,NaN,NaN,NaN,NaN,Get it as soon as,"Sat, Apr 30"
3,Pop it Pink Ombre Cupcake Fidget Toy Girls and...,https://m.media-amazon.com/images/I/81G2b5S-wQ...,5.0 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,1,$7.99,7\n.,NaN,NaN,NaN,NaN,NaN,Get it as soon as,"Tue, May 3"
4,"Jasonwell Splash Pad Sprinkler for Kids 68"" Sp...",https://m.media-amazon.com/images/I/81s0fdVXUu...,4.4 out of 5 stars,https://www.amazon.com/Jasonwell-Sprinkle-Spri...,"11,005",$19.99,19\n.,$38.99,NaN,10% coupon applied at checkoutSave 10% with c...,Save 10%,with coupon,Get it as soon as,"Sat, Apr 30"

In [52]:
new_toy4=df_toys[['Title','adeclarative','alinknormal_URL','asizebase','aoffscreen','Price1','arow']]

In [53]:
df_toy4_2=new_toy4[~new_toy4.adeclarative.str.contains("Sponsored\n",na=False)]
df_toy4_2.head()

,Title,adeclarative,alinknormal_URL,asizebase,aoffscreen,Price1,arow
1,Cats vs Pickles - Limited Edition Holiday 12pk...,4.7 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,282,$54.99,$59.99,NaN
2,Osmo - Super Studio Disney Frozen 2 - Ages 5-1...,4.7 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,"4,333",$29.99,NaN,NaN
3,Pop it Pink Ombre Cupcake Fidget Toy Girls and...,5.0 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,1,$7.99,NaN,NaN
4,"Jasonwell Splash Pad Sprinkler for Kids 68"" Sp...",4.4 out of 5 stars,https://www.amazon.com/Jasonwell-Sprinkle-Spri...,"11,005",$19.99,$38.99,10% coupon applied at checkoutSave 10% with c...
5,Magnetic Tiles Toys for 3 4 5 6 7 8+ Year Old ...,4.6 out of 5 stars,https://www.amazon.com/Magnetic-Building-Creat...,"1,991",$25.97,$35.99,20% coupon applied at checkoutSave 20% with c...

In [54]:
new_df=df_toy4_2.rename(
        columns={
            'adeclarative':'Rating',
            'alinknormal_URL':'ProdLink',
            'asizebase':'TotalReviews',
            'aoffscreen':'Price',
            'Price1':'OrgPrice',
            'arow':'Coupons'
               
        })

In [55]:
new_df

,Title,Rating,ProdLink,TotalReviews,Price,OrgPrice,Coupons
1,Cats vs Pickles - Limited Edition Holiday 12pk...,4.7 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,282,$54.99,$59.99,NaN
2,Osmo - Super Studio Disney Frozen 2 - Ages 5-1...,4.7 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,"4,333",$29.99,NaN,NaN
3,Pop it Pink Ombre Cupcake Fidget Toy Girls and...,5.0 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,1,$7.99,NaN,NaN
4,"Jasonwell Splash Pad Sprinkler for Kids 68"" Sp...",4.4 out of 5 stars,https://www.amazon.com/Jasonwell-Sprinkle-Spri...,"11,005",$19.99,$38.99,10% coupon applied at checkoutSave 10% with c...
5,Magnetic Tiles Toys for 3 4 5 6 7 8+ Year Old ...,4.6 out of 5 stars,https://www.amazon.com/Magnetic-Building-Creat...,"1,991",$25.97,$35.99,20% coupon applied at checkoutSave 20% with c...
...,...,...,...,...,...,...,...
171,LEGO Speed Champions Aston Martin Valkyrie AMR...,4.8 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,65,$39.97,NaN,NaN
172,Dinosaur Toy Truck for Kids 3-7 with Flash Lig...,4.5 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,78,$24.99,NaN,NaN
173,Paw Patrol Marshall - Robotic Build-A-Bot Paw ...,4.1 out of 5 stars,https://www.amazon.com/gp/slredirect/picassoRe...,"2,163",$34.99,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
new_df.columns

Index(['Title', 'Rating', 'ProdLink', 'TotalReviews', 'Price', 'OrgPrice',
       'Coupons'],
      dtype='object')

In [67]:
#for Title,Price in new_df.iterrows():
sql = '''use amzdb'''
cursor.execute(sql)
title = new_df.iat[0,0]
title
price = 19.4
sql = '''insert into toystable(Title, Price) values('%s', '%s')''' % (title, price)
cursor.execute(sql)
cursor.connection.commit()

In [68]:
sql = '''select * from toystable'''
cursor.execute(sql)
cursor.fetchall()

((1, 'toy1', Decimal('100')),
 (2, '1', Decimal('0')),
 (3, '2', Decimal('0')),
 (4, '3', Decimal('0')),
 (5, '4', Decimal('0')),
 (6, '5', Decimal('0')),
 (7, '6', Decimal('0')),
 (8, '7', Decimal('0')),
 (9, '8', Decimal('0')),
 (10, '9', Decimal('0')),
 (11, '10', Decimal('0')),
 (12, '11', Decimal('0')),
 (13, '12', Decimal('0')),
 (14, '13', Decimal('0')),
 (15, '14', Decimal('0')),
 (16, '15', Decimal('0')),
 (17, '16', Decimal('0')),
 (18, '17', Decimal('0')),
 (19, '18', Decimal('0')),
 (20, '19', Decimal('0')),
 (21, '20', Decimal('0')),
 (22, '21', Decimal('0')),
 (23, '22', Decimal('0')),
 (24, '23', Decimal('0')),
 (25, '24', Decimal('0')),
 (26, '25', Decimal('0')),
 (27, '26', Decimal('0')),
 (28, '27', Decimal('0')),
 (29, '28', Decimal('0')),
 (30, '29', Decimal('0')),
 (31, '30', Decimal('0')),
 (32, '4.7 out of 5 stars', Decimal('19')),
 (33,
  'Cats vs Pickles - Limited Edition Holiday 12pk - 4" Cute Cuddly Collectible Bean Plush Toy - Great for White Elephant, Gift Exchanges & $10 Gifts.',
  Decimal('19')))